<ion-header>
  <ion-item color="tertiary">
    <ion-datetime displayFormat="MMMM YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="momentService.selectedDate"
      (ionChange)="updateObservables()"></ion-datetime>
  </ion-item>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item-divider color="primary">
      Accounts
    </ion-item-divider>
    <ion-list>
      <div *ngIf="accounts$ | async as accounts; else loading">
        <div *ngFor="let account of accounts">
          <app-account [account]="account"></app-account>
        </div>
      </div>
      <ng-template #loading>
        <ion-item><ion-spinner></ion-spinner></ion-item>
      </ng-template>
    </ion-list>
  </ion-card>



  <ion-card>
    <ion-item-divider color="primary">
      Categories
    </ion-item-divider>
    <ion-list>
  
        <div *ngIf="categories$ | async as categories; else loading">
      <div *ngFor="let category of categories">
       <app-category [category]="category" [expenses$]="getExpenses$ForCategory(category.categoryName)"></app-category>
      </div>
      </div>
    </ion-list>
  </ion-card>




  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button (click)="addExpenseModal()" routerDirection="forward">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="addAccountModal()" routerDirection="forward">
        <ion-icon name="hammer"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>