
<ion-content padding>
  <ion-grid fixed>
      <ion-item>
        <ion-label>Category</ion-label>
      </ion-item>
      <ion-item item-end>

      </ion-item>
      <ion-item item-end>
        <ion-label>Date</ion-label>
      </ion-item>
      <ion-item item-end>
        <ion-label>Description</ion-label>
        <ion-input text-right [(ngModel)]="expense.description" name="description"></ion-input>
      </ion-item>
      <ion-item item-end>
        <ion-label>Cost</ion-label>
      </ion-item>
    <ion-button icon-only full no-margin >
      <ion-icon name="checkmark"></ion-icon>
    </ion-button>

</ion-grid>
</ion-content>
