
<ion-content padding>
  <ion-grid fixed>
      <ion-item>
        <ion-label position="floating">Category</ion-label>
      </ion-item>
      <ion-item>

      </ion-item>
      <ion-item position="fixed">
        <ion-label>Date</ion-label>
        <ion-datetime  displayFormat="DDD DD MMM YY HH:mm" pickerFormat="DD MM YY HH:mm" [(ngModel)]="expense.createdDate" name="date"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating" >Description</ion-label>
        <ion-input text-right [(ngModel)]="expense.description" name="description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Cost</ion-label>
      </ion-item>
    <ion-button icon-only full no-margin >
      <ion-icon name="checkmark"></ion-icon>
    </ion-button>

</ion-grid>
</ion-content>
