<ion-header>
  <ion-toolbar>
    <ion-title>
      Add a new account
    </ion-title>
    <ion-buttons start>
      <ion-button icon-only (click)="dismiss()">
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<ion-grid fixed>

    <ion-item item-end>
      <ion-label>Account name</ion-label>
      <ion-input text-right type="text" [(ngModel)]="accountName"  name="accountName"></ion-input>
    </ion-item>
    <ion-item item-end>
      <ion-label>Account balance</ion-label>
      <ion-input text-right type="number" [(ngModel)]="balance"  name="balance"></ion-input>
    </ion-item>

    <ion-item tappable (click)="presentIconsModal()">
        <ion-label>Account Icon</ion-label>
        <ion-icon [name]="getSelectedIcon()" item-end></ion-icon>
      </ion-item>
  <ion-button [disabled]="notFilledIn()" (click)="addAccount()" full no-margin icon-only><ion-icon name="checkmark"></ion-icon></ion-button>


</ion-grid>

</ion-content>